@import "mafs/core.css";
@import "mafs/font.css";

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

.navbar-brand {
  font-size: 24px;
  color: #fff;
  text-decoration: none;
  margin-left: 2vw;
}

.navbar-links {
  display: flex;
}

.navbar-link {
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.2s ease-in-out;
}

.navbar-link:hover {
  background-color: #fff;
  color: #3f51b5;
  box-shadow: 0px 0px 10px 0px #3f51b5;
}

.buttonGo {
  position: absolute;
  border: none;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 200px;
  height: 60px;
  background: #2F94FF;
  border-radius: 50px;
  color: #fff;
  font-size: 35px;
}